<%- include('layouts/header.ejs') %>
    <div class="container">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModel">
            Create Group
        </button>
        <% if(typeof message !=='undefined' ){ %>
            <p style="color: green;">
                <%= message %>
            </p>
            <% } %>

                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Limit</th>
                            <th>Member</th>
                            <th>Action</th>
                        </tr>
                    <tbody>
                        <% if(groups.length> 0){
                            for(let i = 0; i < groups.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= i +1 %>
                                    </td>
                                    <td>
                                        <img src="images/<%= groups[i]['image'] %>" width="100px"
                                            height="100px" alt="<%= groups[i]['name'] %>">
                                    </td>
                                    <td>
                                        <%= groups[i]['name'] %>
                                    </td>
                                    <td>
                                        <%= groups[i]['limit'] %>
                                    </td>
                                    <td>
                                        <a class="cursor-pointer addMember" data-id="<%= groups[i]['id'] %>"
                                            data-limit="<%= groups[i]['limit'] %>" data-toggle="modal"
                                            data-target="#memberModal">Member</a>
                                    </td>
                                    <td>
                                        <a class="updateMember" data-obj="<%= JSON.stringify(groups[i])%>"
                                            data-toggle="modal" data-target="#updateGroupModal">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="deleteGroup" data-id="<%= groups[i]['id']%>"
                                            data-name="<%= groups[i]['name']%>" data-toggle="modal"
                                            data-target="#deleteGroupModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="copy cursor-pointer" data-id="<%= groups[i]['id']%>">
                                            <i class="fa fa-copy"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% } } else{ %>
                                    <tr>
                                        <td>No Group Found</td>
                                    </tr>
                                    <% } %>
                    </tbody>
                    </thead>

                </table>
                <!-- member Modal -->
                <div class="modal fade" id="memberModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" id="add-member-form">

                                <div class="modal-body">
                                    <input type="hidden" name="group_id" id="group_id">
                                    <input type="hidden" name="limit" id="limit">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Name</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="addMemberTable">
                                                        <table class="table addMembersInTable">

                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <p id="add-member-error"></p>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update Member</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="createGroupModel" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" enctype="multipart/form-data" method="POST">

                                <div class="modal-body">
                                    <label>Group Name</label>
                                    <input type="text" name="name" class="w-100 mb-3" placeholder="Enter group Name"
                                        required>
                                    <label>User Limit</label>
                                    <input type="Number" name="limit" min="1" placeholder="Enter User Limit"
                                        class="w-100 mb-3" required>
                                    <label>Group Image</label>
                                    <input type="file" name="image" class="w-100 mb-3" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- update model -->
                <div class="modal fade" id="updateGroupModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Update Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" enctype="multipart/form-data" method="POST" id="updateChatGroupForm">

                                <div class="modal-body">
                                    <input type="hidden" name="id" id="update_group_id">
                                    <input type="hidden" name="l_limit" id="l_limit">
                                    <input type="text" name="name" id="group_name" class="w-100 mb-3"
                                        placeholder="Enter group Name" required>
                                    <input type="Number" name="limit" min="1" id="group_limit"
                                        placeholder="Enter User Limit" class="w-100 mb-3" required>
                                    <input type="file" name="image" class="w-100 mb-3">
                                    <p><b>(Note)</b> If you enter the limit less than to previous limit we will remove
                                        the all users from your group.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-warning">Update</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- delete model -->
                <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST" id="deleteChatGroupForm">

                                <div class="modal-body">
                                    <input type="hidden" name="id" id="delete_group_id">
                                    <P>Are yo sure want to delete <b id="delete_group_name"></b>Group</P>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
    </div>



    <%- include('layouts/footer.ejs') %>